{% load static i18n %}<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block title %}DJ Notes{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A Note taking app powered by Django">
    <meta name="author" content="Meet Gor">

    <link rel="icon" href="{% static 'images/favicons/favicon.ico' %}">
    {% block css %}
    <!-- Latest compiled and minified Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/css/bootstrap.min.css" integrity="sha512-GQGU0fMMi238uA+a/bdWJfpUGKUkBdgfFdgBm72SUQ6BeyWjoY/ton0tEjH+OSH9iP4Dfh+7HM0I9f5eR0L/4w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- This file stores project-specific CSS -->
    <link href="{% static 'css/project.css' %}" rel="stylesheet">
    {% endblock %}
    <!-- Le javascript
    ================================================== -->
    {# Placed at the top of the document so pages load faster with defer #}
    {% block javascript %}
      <!-- Bootstrap JS -->
      <script defer src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/js/bootstrap.min.js" integrity="sha512-OvBgP9A2JBgiRad/mM36mkzXSXaJE9BEIENnVEmeZdITvwT09xnxLtT4twkCa8m/loMbPHsvPl0T8lRGVBwjlQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
      <!-- Your stuff: Third-party javascript libraries go here -->

      <!-- place project specific Javascript in this file -->
      <script src="https://unpkg.com/htmx.org@1.9.2"></script>
      <script defer src="{% static 'js/project.js' %}"></script>

    {% endblock javascript %}

  </head>

  <body>

    <div class="mb-1">
      <nav class="navbar navbar-expand-md navbar-light bg-light">
        <div class="container-fluid">
          <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <a class="navbar-brand" href="{% url 'home' %}">DJ Notes</a>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link" href="{% url 'home' %}">Home <span class="visually-hidden">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'notes:note' %}">Note</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'todos:todos' %}">Todos</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'notebooks:notebook' %}">Books</a>
              </li>
              {% if user.is_authenticated %}
                <li class="nav-item">
                  {# URL provided by django-allauth/account/urls.py #}
                  <a class="nav-link" href="{% url 'users:detail' request.user.username  %}">{% translate "My Profile" %}</a>
                </li>
                <li class="nav-item">
                  {# URL provided by django-allauth/account/urls.py #}
                  <a class="nav-link" href="{% url 'account_logout' %}">{% translate "Sign Out" %}</a>
                </li>
              {% else %}
                {% if ACCOUNT_ALLOW_REGISTRATION %}
              <li class="nav-item">
                {# URL provided by django-allauth/account/urls.py #}
                <a id="sign-up-link" class="nav-link" href="{% url 'account_signup' %}">{% translate "Sign Up" %}</a>
              </li>
              {% endif %}
                <li class="nav-item">
                  {# URL provided by django-allauth/account/urls.py #}
                  <a id="log-in-link" class="nav-link" href="{% url 'account_login' %}">{% translate "Sign In" %}</a>
                </li>
              {% endif %}
            </ul>
          </div>
          <img align="right" src="{% static 'images/favicons/favicon.svg' %}" height="75px">
        </div>
      </nav>

    </div>

    <div class="container">

      {% if messages %}
        {% for message in messages %}
          <div class="alert alert-dismissible {% if message.tags %}alert-{{ message.tags }}{% endif %}">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
        {% endfor %}
      {% endif %}

      {% block content %}
        <a href="{% url 'notes:create_note' %}"><button class="btn">Create Notes</button></a>
        <a href="{% url 'todos:create_todo' %}"><button class="btn">Create Todo</button></a>
        {% if user.is_authenticated %}
        <h2>Today</h2>
        {% if not todos %}
          <p>No Todos for Today, All Done!</p>
        {% else %}
          {% include "todos/partials/list.html" %}
        {% endif %}
        {% include "notes/partials/list.html" %}
        {% endif %}

      {% endblock content %}

    </div> <!-- /container -->

    {% block modal %}{% endblock modal %}
        <div class="container my-5">
          <!-- Footer -->
          <footer class="text-center text-black" style="background-color: white">
            <!-- Grid container -->
            <div class="container">
              <!-- Section: Links -->
              <section class="mt-3">
                <!-- Grid row-->
                <div class="row text-center d-flex justify-content-center pt-5">
                  <div class="col-md-2">
                    <h6 class="text-uppercase font-weight-bold">
                        <a href="{% url 'home' %}" class="text-black">DJ Notes</a>
                    </h6>
                </div>
                </div>
              </section>
              <!-- Section: Links -->
              <hr class="my-12" />
              <!-- Section: Text -->
              <section class="mb-5">
                <div class="row d-flex justify-content-center">
                  <div class="col-lg-8">
                    <p>
                        DJ Notes is a Note Taking app powered by Django and PostgreSQL.
                        The application has notes and books to organize your thoughts.
                        Markdown Support, Secure Notes, and more to come.
                    </p>
                  </div>
                    <div class="social-links mt-3">
                        <a href="https://twitter.com/MeetGor21" class="fa fa-twitter"></a>
                        <a href="https://github.com/mr-destructive/dj-notes" class="fa fa-github"></a>
                        <a href="https://www.linkedin.com/in/meetgor/" class="fa fa-linkedin"></a>
                    </div>
                </div>
              </section>
              <!-- Section: Text -->

              <!-- Section: Social -->
          </footer>
          <!-- Footer -->
        </div>
    {% block inline_javascript %}
    {% comment %}
    Script tags with only code, no src (defer by default). To run
    with a "defer" so that you run inline code:
    <script>
      window.addEventListener('DOMContentLoaded', () => {/* Run whatever you want */});
    </script>
    {% endcomment %}
    {% endblock inline_javascript %}

  </body>
</html>
