{% extends 'base.html' %}
{% block content %}

<a href="{% url 'notebooks:create_notebook' %}"><button>Creata a Notebook

<svg width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd"><path d="M14 0v10l2-1.518 2 1.518v-10h4v24h-17c-1.657 0-3-1.343-3-3v-18c0-1.657 1.343-3 3-3h9zm6 20h-14.505c-1.375 0-1.375 2 0 2h14.505v-2z"/></svg>


    </button></a>
<ul>
    {% for book in books %}
    <li>
        <h2><a href="{% url 'notebooks:notebook_view' pk=book.id %}">{{ book.name }}</a></h2>
        <a href="{% url 'notebooks:update_book' book.id %}">Edit</a>
        <a href="{% url 'notebooks:delete_book' book.id %}">Delete</a>

    </li>
    {% endfor %}
</ul>
{% endblock %}
